@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header {
  display: flex;
  position: 10vh;
  justify-content: space-between;
  flex:1;


}
.header ul {
  display: flex;
  gap:1rem;
}


.header .left-links, .header .right-links {
  margin: 0;
  padding: 1rem;
  list-style: none;

}
.content {
  flex: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.content .buttons, .content .input {
  align-self: center;
}
a {
  color: grey;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
.footer {
  display: flex;
  position: 10vh;
  justify-content: space-between;
  background-color: rgba(211, 211, 211, 0.719);


}
.footer ul {
  display: flex;
  gap:1rem
}


.footer .left-links, .footer .right-links {
  margin: 0;
  padding: 1rem;
  list-style: none;

}